---
layout: layouts/home.njk
eleventyNavigation:
    key: Contact
    order: 4
---

<form netlify="netlify" name="contact" method="POST">
    <div class="mb-3">
        <label for="firstName" class="form-label">First name:</label><br>
        <input type="text" id="firstName" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="surname" class="form-label">Surname:</label><br>
        <input type="text" id="surname" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="emailAddress" class="form-label">Email address:</label>
        <input type="email" class="form-control" id="emailAddress" placeholder="name@example.com" required="required">
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Message:</label>
        <textarea class="form-control" id="message" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="termsAndConditionsCheckBox" class="form-label">Agree to terms & conditions?</label><br>
        <input type="checkbox" id="termsAndConditionsCheckBox"><br><br>
    <input type="Submit">
</form>